name: Build Docker Image

on:
  push:
    branches:
      - 'master'
      - 'main'
    paths:
      - '*/Dockerfile'
      - '.github/workflows/build.yml'
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"

jobs:
  build:
    runs-on: ubuntu-24.04${{matrix.arch=='arm64' && '-arm' || ''}}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'debian', 'ubuntu' ]
        arch: [ 'amd64', 'arm64' ]
    steps:
      - name: Free some disk space
        run: rm -Rf /usr/share/dotnet /opt/ghc "/usr/local/share/boost" "$AGENT_TOOLSDIRECTORY"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GHCR (GitHub Packages)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.os }}
          push: true
          tags: |
            ghcr.io/${{github.repository}}/${{matrix.os}}:latest_${{matrix.arch}}

  manifest:
    runs-on: ubuntu-24.04
    needs: [build]
    if: always()
    strategy:
      fail-fast: false
      matrix:
        os: [ 'debian', 'ubuntu' ]        
    steps:
      - name: Free some disk space
        run: rm -Rf /usr/share/dotnet /opt/ghc "/usr/local/share/boost" "$AGENT_TOOLSDIRECTORY"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GHCR (GitHub Packages)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: int128/docker-manifest-create-action@v2
        with:
          tags: |
            ghcr.io/${{ github.repository }}/${{matrix.os}}:latest
            cran/${{matrix.os}}:latest
          sources: |
            ghcr.io/${{ github.repository }}/${{matrix.os}}:latest_amd64
            ghcr.io/${{ github.repository }}/${{matrix.os}}:latest_arm64
